# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.dll.a

# executables
seafile-client
seafile-applet
*.exe

# backup file
*#
*~
*.bak

# other formats
cscope*
core
*.pyc
.DS_Store

# CMake files goes here
build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CTestTestfile.cmake
Testing/
install_manifest.txt

#### Qt files goes here
### moc
moc_*.cxx*
moc_*.cpp*
*.moc

### ui
ui_*.h

### qrc
*.qrc.depends
qrc_*.cxx

i18n/*.qm

### emacs files
.emacs*
.#*

### ninja files
.ninja_deps
.ninja_log
build.ninja
rules.ninja
