<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>seafile-applet</string>
	<key>CFBundleGetInfoString</key>
	<string>Seafile Client Application</string>
	<key>CFBundleIconFile</key>
	<string>seafile</string>
	<key>CFBundleIdentifier</key>
	<string>com.seafile.seafile-client</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>Seafile</string>
	<key>CFBundleShortVersionString</key>
	<string>6.2.2</string>
	<key>CFBundleVersion</key>
	<string>6.2.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.seafile.seafile-client</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>seafile</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>x86_64</key>
		<string>10.7.0</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 海文互知. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<string>True</string>
    <!-- For Sparkle Framework -->
	<key>SUFeedURL</key>
	<string>https://www.seafile.com/api/client-updates/seafile-client-mac/appcast.xml</string>
	<key>CFBundleLocalizations</key>
    <!-- The CFBundleLocalizations would determinte the display language used by sparkle AutoUpdate.app -->
    <!-- We must list all languages supported by Sparkle here -->
    <!-- Sparkle would choose one based on current system language -->
    <!-- See https://github.com/sparkle-project/Sparkle/issues/238#issuecomment-11927292  -->
    <array>
      <string>ar</string>
      <string>ca</string>
      <string>cs</string>
      <string>da</string>
      <string>de</string>
      <string>el</string>
      <string>en</string>
      <string>es</string>
      <string>fi</string>
      <string>fr</string>
      <string>he</string>
      <string>is</string>
      <string>it</string>
      <string>ja</string>
      <string>ko</string>
      <string>nb</string>
      <string>nl</string>
      <string>pl</string>
      <string>pt_BR</string>
      <string>pt_PT</string>
      <string>ro</string>
      <string>ru</string>
      <string>sk</string>
      <string>sl</string>
      <string>sv</string>
      <string>th</string>
      <string>tr</string>
      <string>uk</string>
      <string>zh_CN</string>
      <string>zh_TW</string>
    </array>
</dict>
</plist>
