QToolButton#mDownloadTasksBtn,
QToolButton#mServerStatusBtn
{
    border-style:flat;
}

QToolButton:hover
{
    border: 1px solid #ccc;
    border-radius: 4px;    
    background-color: rgb(255,255,255);
}

QWidget#mainWrapper {
    border : 0;
}