MainWindow {
    min-width: 380px;
    max-width: 380px;

    min-height: 550px;
    max-height: 550px;
}

AccountItem {
    min-height: 100px;
    max-height: 100px;
}

RepoItem {
    min-height: 70px;
    max-height: 70px;

    min-width: 250px;
    max-width: 250px;
}

QTabWidget {
    qproperty-tabPosition: West;
}

ReposView {
    min-height: 550px;
    max-height: 550px;

    min-width: 350px;
    max-width: 350px;
}

AccountsView {
    min-height: 550px;
    max-height: 550px;

    min-width: 350px;
    max-width: 350px;
}