QWidget#mainWrapper {
    min-width: 320px;
    min-height: 583px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #F5F5F7;
}

QLabel {
    font-family: Arial;
}

CloudView {
    min-width: 300px;
    /* max-width: 300px; */
    min-height: 450px;
}

QToolButton#mAccountBtn
{
    margin: 0;
    padding: 0;
    border: 0;
}

QToolButton#mAccountBtn:selected, QToolButton#mAccountBtn:hover {
    background: #f8f8f8;
}

CloudView QToolBar {
    border: 0;
    /* max-width: 290px; */
    border-bottom: 1px solid #DCDCDE;
}

CloudView QToolBar QWidget#spacerWidget {
    min-width: 6px;
    max-width: 6px;
}

QToolBar QAbstractButton {
    margin-left: 10px;
}

RepoDetailDialog {
    min-width: 400px;
    min-height: 250px;
}

CloudView QLabel#mEmail {
    font-family: Arial;
    font-size: 15px;
    color: #525252;
}

CloudView QLabel#mServerAddr {
    font-family: Arial;
    color: #A4A4A4;
    font-size: 13px;
}

QDialog QLabel#mTitle {
    color: #F89A01;
    font-family: Arial;
    font-size: 20px;
}

QToolButton#mSeahubMessagesBtn:selected, QToolButton#mSeahubMessagesBtn:hover {
    background: white;
}

QWidget#mHeader {
    min-height: 35px;
    max-height: 35px;
}

QWidget#mHeader QPushButton {
    padding: 5px;
    padding-bottom: 0;
    border: 0;
    qproperty-focusPolicy: NoFocus;
}

QWidget#mHeader QPushButton:hover {
    color: #FF9A2A;
    padding-top: 3px;
    margin-top: 1px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #A1A1A2,
                                stop: 1 #F5F5F7);
}

QWidget#mHeader QPushButton#mCloseBtn:hover {
    border-top-right-radius: 5px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #FF9A2A,
                                stop: 1 #FEEAEA);
}

QWidget#mHeader QLabel#mBrand,
QWidget#mHeader QLabel#mLogo {
    margin-top: 6px;
    margin-right: 4px;
    font-size: 14px;
    font-family: Arial;
}

RepoTreeView
{
    background: white;
    border: 0;
    font-size: 14px;
    /* border-top: 1px solid #DCDCDE; */
    /* border-bottom: 1px solid #DCDCDE; */
    padding-top: 8px;
}

RepoTreeView QScrollBar {
    margin-right: 1px;
}

CloudView QWidget#mDropArea {
    min-height: 60px;
    max-height: 60px;
    background: #F5F5F7;
    padding: 0;
    padding-top: 10px;
}

CloudView QFrame#mDropInner {
    min-width: 280px;
    /* max-width: 280px; */
    min-height: 40px;
    max-height: 40px;
    border: 2px dashed #DBDBDC;
    border-radius: 5px;
    padding: 6px 0;
}

CloudView QFrame#mDropInner QLabel {
    font-family: Arial;
}

CloudView QPushButton#mSelectFolderBtn {
    font-size: 16px;
    font-family: Arial;
    border: 0;
    color: #FF9A2A;
    background: #F5F5F7;
    qproperty-focusPolicy: NoFocus;
    qproperty-flat: true;
    padding-right: 4px;
    margin: 0;
}

CloudView QPushButton#mSelectFolderBtn:hover {
    font-weight: bold;
    background: #DBDBDC;
    border-radius: 5px;
}

CloudView QLabel#mDropFolderText {
    color: #525252;
    font-size: 16px;
}

CloudView QFrame#mFooter {
    border: 0;
    max-height: 25px;
    padding: 0;
    padding-bottom: 3px;
    padding-right: 5px;
    text-align: top;
}

CloudView QFrame#mFooter QLabel#mDownloadTasksInfo,
CloudView QFrame#mFooter QLabel#mDownloadRate,
CloudView QFrame#mFooter QLabel#mUploadRate
{
    color: #525252;
    font-size: 15px;
    padding-top: 5px;
    min-width: 75px;
    /* max-width: 80px; */
    qproperty-alignment: right;
}

CloudView QFrame#mFooter QLabel#mUploadRateArrow,
CloudView QFrame#mFooter QLabel#mDownloadRateArrow
{
    margin-top: 3px;
    margin-right: 5px;
}

CloudView QFrame#mFooter QLabel#mDownloadRateArrow
{
    margin-right: 10px;
}


CreateRepoDialog {
    min-width: 550px;
    min-height: 330px;
    max-height: 330px;
}

CreateRepoDialog QLabel#mDesc {
    min-height: 60px;
}

QFrame#mFooter QToolButton#mServerStatusBtn,
QFrame#mFooter QToolButton#mDownloadTasksBtn {
    margin-top: 3px;
    qproperty-focusPolicy: NoFocus;
}

ServerStatusDialog QListView {
    qproperty-focusPolicy: NoFocus;
}

ServerStatusDialog QListView:item {
    margin-bottom: 4px;
}

UninstallHelperDialog {
    min-width: 400px;
    /* max-width: 400px; */
    min-height: 100px;
    max-height: 100px;
}

CloudView QSizeGrip {
    margin-right: 2px;
}

InitVirtualDriveDialog QLabel#mStatusText {
    font-size: 16px;
    font-family: Arial;
    padding-right: 20px;
    qproperty-wordWrap: true;
    min-width: 350px;
}

InitVirtualDriveDialog QLabel#mStatusIcon {
    min-width: 48px;
    max-width: 48px;
    margin-left: 60px;
    margin-right: 20px;
}

QLabel#loadingFailedText {
    color: #777;
    font-size: 16px;
    margin-top: -120px;
    qproperty-wordWrap: true;
}

SettingsDialog {
    min-width: 560px;
    max-width: 560px;

    min-height: 390px;
    max-height: 390px;
}

SettingsDialog QTabWidget::pane QLabel#desc,
SettingsDialog QTabWidget::pane QLabel#desc_2
{
    font-size: 12px;
    color: #555;
    padding-left: 20px;
}

LoginDialog QLabel#hint,
LoginDialog QLabel#hint_1,
LoginDialog QLabel#hint_2,
LoginDialog QLabel#hint_3
{
    font-size: 12px;
    color: #555;
}

SslConfirmDialog {
    min-width: 400px;
    min-height: 200px;
}

SslConfirmDialog QLabel#mHint {
    margin-right: 20px;
}

SslConfirmDialog QCheckBox#mRememberChoiceCheckBox {
    min-height: 40px;
    max-height: 40px;
    margin-bottom: 5px;
    /* border: 1px solid black; */
}

DownloadRepoDialog QLabel#mRepoName {
    font-size: 16px;
    margin-bottom: 8px;
}

DownloadRepoDialog QLabel#mRepoIcon {
    min-width: 36px;
    max-width: 36px;
    min-height: 36px;
    max-height: 36px;
    margin-right: 10px;
    margin-bottom: 8px;
}

DownloadRepoDialog QPushButton#mSwitchToSyncBtn {
}

SeafileTabWidget {
    border: 0;
    margin: 0;
}

SeafileTabBar {
    alignment: left;
    border: 0;
}

SeafileTabBar::tab {
    background: white;

    min-height: 36px;
    max-height: 36px;

    min-width: 100px;

    padding: 0;
    border: 0;
}

StarredFilesListView {
    border-top: 1px solid #DCDCDE;
    border-bottom: 1px solid #DCDCDE;
}

QWidget#EmptyPlaceHolder,
LoadingView
{
    border-top: 1px solid #DCDCDE;
    border-bottom: 1px solid #DCDCDE;
}

QWidget#EventsContainerView {
    margin: 0;
    border: 0;
    border-top: 1px solid #DCDCDE;
}

QWidget#EventsContainerView LoadingView,
QWidget#EventsContainerView QToolButton
{
    max-height: 40px;
    min-height: 40px;
}

QWidget#EventsContainerView LoadingView {
    /* border: 1px solid red; */
    border: 0;
    background: white;
    margin: 0;
    border-bottom: 1px solid #DCDCDE;
}

EventsListView {
    border: 0;
    border-top: 1px solid #DCDCDE;
    border-bottom: 1px solid #DCDCDE;
}

EventDetailsDialog {
    margin: 20px;
    min-width: 300px;
    min-height: 300px;
}

EventDetailsTreeView
{
    background: white;
    border: 0;
    font-size: 16px;
    border-top: 1px solid #DCDCDE;
    border-bottom: 1px solid #DCDCDE;
}

EventDetailsTreeView {
    qproperty-iconSize: 36px;
}

EventDetailsTreeView QScrollBar {
    margin-right: 1px;
}

ActivitiesTab, EventsListView
{
    qproperty-focusPolicy: NoFocus;
}

FileBrowserDialog {
    background-color: white;
    min-width: 640px;
    min-height: 456px;
}

FileBrowserDialog QToolBar#topBar {
    border: 0;
    margin: 0px 24px 6px 12px;
    min-height: 36px;
    max-height: 36px;
}

FileBrowserDialog QToolBar QPushButton {
    padding: 3px;
    margin: 1px;
    qproperty-focusPolicy: NoFocus;
}

FileBrowserDialog QToolBar QLabel {
    margin-left: 2px;
}

FileBrowserDialog QToolBar QPushButton:hover {
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    color: #FF9A2A;
}

FileTableView {
    border: 0;
    margin: 0;
    padding-left: 4px;
    qproperty-focusPolicy: NoFocus;
}

FileTableView QHeaderView::section {
    border: 0;
    padding: 8px;
    outline: 0px;
    color: #b3b3b3;
    background-color: white;
    font-size: 12px;
}

FileTableView QHeaderView::down-arrow {
    width: 15px;
    height: 5px;
    subcontrol-position: center right;
}

FileTableView QHeaderView::up-arrow {
    subcontrol-position: center right;
}

FileTableView::item {
    border-top: 1px solid #e0e0e0;
}

FileBrowserDialog QToolBar#statusBar {
    border: 0;
    border-top: 1px solid white;
    margin: 0;
    background-color: #f2f2f2;
}

FileBrowserProgressDialog {
    min-width: 320px;
    max-width: 420px;
}

SeafileTabWidget QWidget#pane {
    background-color: white;
}

ReposTab QLineEdit#repoNameFilter {
    min-height: 25px;
    margin: 5px;
    margin-bottom: 0;
    padding: 0 5px;
    border: 1px solid #BCBCBE;
    border-radius: 3px;
}
