MainWindow {
    min-width: 360px;
    min-height: 550px;
}

QToolBar {
    padding: 5px 10px;
    spacing: 5px;
}

MainWindow QTabWidget {
    qproperty-tabPosition: North;
}

/* The tab widget frame */
MainWindow QTabWidget::pane {
    border: none;
    position: absolute;
    padding: 0;
}

MainWindow QTabWidget::tab-bar {
    alignment: center;
}

/**
 * Style the tab using the tab sub-control. Note that
 *  it reads QTabBar _not_ QTabWidget
 */
MainWindow QTabBar::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    border: 1px solid #C4C4C3;
    border-bottom-color: #C2C7CB; /* same as the pane color */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 160px;
    max-width: 160px;
    min-height: 25px;
    max-height: 25px;
    
    padding: 5px;
}

MainWindow QTabBar::tab:selected, QTabBar::tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #fafafa, stop: 0.4 #f4f4f4,
                                stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}

MainWindow QTabBar::tab:selected {
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; /* same as pane color */
}

/* Cloud Tab */
CloudView {
    min-width: 350px;
    min-height: 450px;
}

ServerReposListView {
    qproperty-alternatingRowColors: true;
}

QPushButton#mAccountOpButton {
    min-width: 50px;
    max-width: 50px;
    min-height: 30px;
    max-height: 30px;
}

/* Local Tab */
LocalView {
    min-width: 350px;
    min-height: 450px;
}

LocalReposListView {
    qproperty-alternatingRowColors: true;
}

QListView::item:selected {
    border: 1px solid #6a6ea9;
}

QListView::item:selected:!active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #ABAFE5, stop: 1 #8588B2);
}

QListView::item:selected:active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #6a6ea9, stop: 1 #888dd9);
}

QListView::item:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #FAFBFE, stop: 1 #DCDEF1);
}