#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --builddirectory=build

override_dh_auto_configure:
	export QT_SELECT=5
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Debug -DBUILD_SHIBBOLETH_SUPPORT=ON

override_dh_auto_build:
	dh_auto_build --parallel

override_dh_strip:
	dh_strip -pseafile-gui --dbg-package=seafile-gui-dbg
