#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --builddirectory=build

override_dh_auto_configure:
	export QT_SELECT=5
	dh_auto_configure -- -DUSE_QT5=ON -DCMAKE_BUILD_TYPE=Release -DBUILD_SHIBBOLETH_SUPPORT=ON

override_dh_auto_build:
	dh_auto_build --parallel
